@media (min-width: 750px) {
    .nav-oblique {
      font-size: 1.2em;
    }

    .navbar-default ul li a {
        font-size: 1.2em;
    }
  }

@media (max-width: 450px) {
    h2 {
        margin: 1rem 0 2rem 1rem;
    }
    
    .hamburger {
        width: 3.2em;
        height: 4em;

        top: 10px;
        left: -55px;

        .bar {
            margin: 5px;
        }
    }
}

@media (max-width: 999px) {
    section {
        padding: 1em 1.5em;
    }
    .hero-header {
        padding: 0 1.5em;
    }
    .hamburger {
        left: -55px;
    }
    .skills-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    h3 {
        font-size: 3em;
    }
    h5 {
        font-size: 1.7em;
    }

    .navbar-default ul li a {
        font-size: 1.4em;
    }

    .navbar-link {
        font-size: 1em;
    }

    .nav-oblique {
        font-size: 1.5em;
    }

    .hero-header {
        h1 {
            font-size: 5em;
            margin: 5rem 6rem 2rem 6rem;
        }
    
        h2 {
            font-size: 2.5em;
            margin: 1rem 6rem 5rem 6rem;
        }

        .svg-arrow-down {
            margin-left: 5rem;
        }
    }

    #about-me {
        padding: 3em 12em;
        text-align: left;

        h3 {
            font-size: 3em;
            margin: 2em 1em 1em 1em;
        }

        p {
            font-size: 1.7em;
        }
    }

    .skills-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 6em 1.5em;
        margin: 4em 0;

        .skill-icon {
            width: 10vh;
            height: 10vh;
        }
    }
    

    #contact {
        margin-top: 6em;

        p {
            text-align: center;
        }
        form {
            width: 60%;
            margin: 0 auto;
            
            fieldset {
                label {
                    font-size: .9em;
                }

                input[type='email'], 
                textarea {
                    font-size: 1.3em;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    #projects {
        grid-template-columns: 1fr 1fr;

        .project-links {
            width: 20rem;
        }
    }
}