//variables
$white: rgb(240, 240, 240);

//mixins
@mixin background-white {
  background-color: #e6e6e6;
  background-image: url("../img/background-white.svg");
  background-attachment: fixed;
  background-size: cover;
}

/*  MAIN STYLING    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("../img/background-black.svg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: $white;
  font-family: Raleway;
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  padding-top: 1.5rem;
  margin: 1rem 1rem 0.6rem 1rem;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-family: Raleway;
  font-size: 1.4em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 1rem 1rem 2rem 1rem;
}

h3 {
  font-family: Oswald;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0.5em 1em 0.5em;
}

h1,
h3 {
  color: $white;
  font-family: Oswald;
}

h5 {
  font-size: 1.1em;
  font-weight: 100;
  text-align: center;
  line-height: 1.3;
  margin: 2em 1.5em;
}

p {
  line-height: 1.3;
  margin: 2.5em 1.5em;
}

section,
header,
footer {
  padding: 1em;
}

section {
  min-height: 95vh;
  margin-bottom: 1em;
}

/*  NAVIGATION MENU    */

.nav-oblique {
  font-size: 0.7em;

  ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;

    li {
      list-style-type: none;
      font-weight: 800;

      .oblique-line {
        padding: 0 0.5em;
      }

      a {
        position: relative;
        padding-bottom: 0.2em;
        color: $white;
        text-decoration: none;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          background-color: $white;
          width: 0%;
          height: 1px;
          left: 0;
          bottom: 0;
          -webkit-transition: width 0.3s ease;
          transition: width 0.3s ease;
        }

        @media (hover: hover) {
          &:hover:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.navbar-default {
  width: 100%;

  position: fixed;
  z-index: 2;
  top: 0;
  right: 200%;
  overflow-x: hidden;

  background-color: #fff;

  -webkit-transition: 0.2s;
  transition: 0.2s;

  ul {
    height: 4em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    justify-content: center;

    margin-left: 2em;

    li {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
      flex: 1;
      list-style-type: none;

      .oblique-line {
        display: none;
      }

      a {
        width: 100%;
        height: 100%;

        display: -webkit-box;

        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;

        color: #000;
        text-decoration: none;
        font-size: 0.8em;

        -webkit-transition: 0.2s;
        transition: 0.2s;
      }
    }
  }
}

.nav-show {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.hamburger {
  position: fixed;
  top: 0;
  left: -50px;
  z-index: 3;

  width: 3em;
  height: 5em;
  background-color: transparent;
  border: none;

  -webkit-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  mix-blend-mode: difference;

  .bar {
    border-bottom: 4px solid;
    margin: 6px;
    color: $white;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.hamburger:focus {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  outline: none;
}

.menu-is-active {
  .bar {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.menu-is-active:focus {
  -webkit-transform: scale(0.65);
  transform: scale(0.65);
  outline: none;
}

/*  BUTTONS  */

.button {
  display: block;
  margin: 1em auto;
  font-family: Oswald;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-white {
  width: 9rem;
  height: auto;
  padding: 0.7em;
  font-size: 0.8em;
  background: $white;
  border: 1px solid $white;
  color: rgb(65, 65, 65);

  -webkit-transition: box-shadow 0.5s, border 0.5s, color 0.5s, text-shadow 0.5s;
  transition: box-shadow 0.5s, border 0.5s, color 0.5s, text-shadow 0.5s;

  @media (hover: hover) {
    &:hover {
      color: $white;
      box-shadow: inset 0 0 0 3em #000;
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    }
  }
}

.button-black {
  height: 40px;
  width: 150px;
  padding: 0.4em;

  border: 1px solid $white;
  background: #181818;
  color: $white;
  font-size: 0.9em;
  -webkit-transition: box-shadow 0.5s, border 0.5s, color 0.5s, text-shadow 0.5s;
  transition: box-shadow 0.5s, border 0.5s, color 0.5s, text-shadow 0.5s;

  @media (hover: hover) {
    &:hover {
      box-shadow: inset 0 0 0 3em $white;
      border-color: $white;
      color: #000;
    }
  }
}

/*  SECTION - HERO HEADER  */

.hero-header {
  height: 85vh;

  .svg-arrow-down {
    position: relative;
    -webkit-animation: scroll-arrow 0.8s ease-out 0.5s infinite alternate;
    animation: scroll-arrow 0.8s ease-out 0.5s infinite alternate;
  }

  @-webkit-keyframes scroll-arrow {
    from {
      top: 0px;
    }
    to {
      top: 20px;
    }
  }

  @keyframes scroll-arrow {
    from {
      top: 0px;
    }
    to {
      top: 20px;
    }
  }
}

/*  SECTION - ABOUT ME  */

#about-me {
  padding-top: 3.5em;

  @include background-white;
  color: #181818;

  h3 {
    text-align: left;
    color: #181818;
    position: relative;
    left: -1350px;

    &.move-right {
      -webkit-animation: move 1s forwards;
      animation: move 1s forwards;
    }

    @-webkit-keyframes move {
      from {
        left: -950px;
      }
      to {
        left: 0;
      }
    }

    @keyframes move {
      from {
        left: -950px;
      }
      to {
        left: 0;
      }
    }
  }

  p {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    &.fadein {
      opacity: 1;
    }
  }
}

/*  SECTION - SKILLS  */

.skills-wrapper {
  display: grid;
  grid-gap: 3em 1.5em;

  .skill-wrap {
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    align-items: center;
    grid-gap: 0.3em;
    opacity: 0;

    &.animate-icon {
      -webkit-animation: animate-opacity 1s ease-in-out forwards;
      animation: animate-opacity 1s ease-in-out forwards;
    }

    @-webkit-keyframes animate-opacity {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes animate-opacity {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .skill-icon {
    width: 8vh;
    height: 8vh;
  }
}

/*  SECTION - PROJECTS  */

#projects {
  padding: 0;
  display: grid;
  grid-gap: 1em;

  h3,
  h5 {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }

  h5 {
    margin: 1em 2em;
  }

  .project {
    .project-figure {
      position: relative;

      .project-image-wrapper {
        position: relative;
        height: 90vh;
        width: 100%;
        overflow: hidden;

        .project-links {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 10%;
          width: 13rem;

          .project-link {
            width: 5.5rem;
            height: auto;
            padding: 0.7em;
            margin: 0;
            font-size: 0.9em;
          }

          .link-code {
            background: none;
          }
        }

        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          opacity: 1;
          -webkit-filter: grayscale(100%) blur(3px) brightness(80%);
          filter: grayscale(100%) blur(3px) brightness(80%);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);

          &.color {
            -webkit-animation: img-color 2s ease-in-out;
            animation: img-color 2s ease-in-out;
          }

          @-webkit-keyframes img-color {
            0% {
              -webkit-filter: grayscale(100%) blur(3px) brightness(80%);
              filter: grayscale(100%) blur(3px) brightness(80%);
            }
            50% {
              -webkit-filter: grayscale(0) blur(0) brightness(90%);
              filter: grayscale(0) blur(0) brightness(90%);
            }
            100% {
              -webkit-filter: grayscale(100%) blur(3px) brightness(80%);
              filter: grayscale(100%) blur(3px) brightness(80%);
            }
          }

          @keyframes img-color {
            0% {
              -webkit-filter: grayscale(100%) blur(3px) brightness(80%);
              filter: grayscale(100%) blur(3px) brightness(80%);
            }
            50% {
              -webkit-filter: grayscale(0) blur(0) brightness(90%);
              filter: grayscale(0) blur(0) brightness(90%);
            }
            100% {
              -webkit-filter: grayscale(100%) blur(3px) brightness(80%);
              filter: grayscale(100%) blur(3px) brightness(80%);
            }
          }
        }

        #hexbox-img {
          -o-object-position: 0 85%;
          object-position: 0 85%;
        }
      }

      .project-figcaption {
        position: absolute;
        top: 20%;
        left: 10%;

        display: block;
        height: 80%;
        width: auto;

        margin: 0.5em 1.6em 0 0;
        font-size: 0.9em;

        .project-name {
          font-family: Oswald;
          font-size: 3.3em;
          font-weight: 700;
          line-height: 1.2;
          text-transform: uppercase;
          color: $white;

          margin-bottom: 0.2em;
        }

        span {
          color: #c0c0c0;
          font-size: 0.9em;
        }

        ul {
          position: absolute;
          bottom: 5%;

          li {
            display: inline;

            list-style-type: none;

            text-transform: uppercase;
            font-size: 0.65em;
            color: rgb(182, 182, 182);

            &:not(:last-child):after {
              content: "/";
              padding: 0 0.1em 0 0.5em;
            }
          }
        }
      }
    }
  }
}

/*  SECTION - CONTACT  */

#contact {
  @include background-white;
  color: #181818;
  min-height: 75vh;

  h3 {
    color: #181818;

    &.pulse {
      -webkit-animation: pulse 1.5s;
      animation: pulse 1.5s;
    }

    @-webkit-keyframes pulse {
      //translate and perspective for smooth animation
      0% {
        -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1) translate3d(0, 0, 0) perspective(1px);
      }
      50% {
        -webkit-transform: scale(1.15) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1.15) translate3d(0, 0, 0) perspective(1px);
      }
      100% {
        -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1) translate3d(0, 0, 0) perspective(1px);
      }
    }

    @keyframes pulse {
      //translate and perspective for smooth animation
      0% {
        -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1) translate3d(0, 0, 0) perspective(1px);
      }
      50% {
        -webkit-transform: scale(1.15) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1.15) translate3d(0, 0, 0) perspective(1px);
      }
      100% {
        -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
        transform: scale(1) translate3d(0, 0, 0) perspective(1px);
      }
    }
  }

  p {
    text-align: left;
    margin: 0.5em 2em;
  }

  .social-icons {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;

    a {
      margin: 1.5em 0.5em;
      text-decoration: none;

      & svg #Github:hover path#Rounded,
      & svg #Github:focus path#Rounded {
        fill: #6e5494;
      }

      & svg #Linkedin:hover path#Rounded,
      & svg #Linkedin:focus path#Rounded {
        fill: #2867b2;
      }
    }
  }
}

/*  FOOTER  */

footer {
  padding-bottom: 2em;

  p {
    margin: 0.7em;
    text-align: center;
    font-size: 0.7em;
  }
}

//media-queries
@import "queries";
@import "IE-style";