/*  MAIN STYLING    */

$white: rgb(240, 240, 240);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(177,960,528)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1150' height='958.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    color: $white;
    font-family: Raleway;
    font-size: 18px;
}

h1 {
    font-size: 2.3em;
    padding-top: 1.5rem;
    margin: 1rem 1rem 0.6rem 1rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.1em;
    margin: 0.4rem 1rem 1.5rem 1rem;
    opacity: 85%;
}

h3 {
    font-size: 2.5em;
    text-align: center;
    margin: 4rem 1rem;
}

h1, h2, h3 {
    color: $white;
    font-family: Oswald;
}

@media (min-width: 1000px) {
    .hero-header {
        h1 {
            font-size: 5em;
            margin: 5rem 6rem 2rem 6rem;
        }
    
        h2 {
            font-size: 4em;
            margin: 1rem 6rem 5rem 6rem;
        }

        .svg-arrow-down {
            margin-left: 5rem;
        }
    }
}

p {
    text-align: left;
    line-height: 1.3;
    margin: 1.5em;
}

section, header, footer {
    padding: 1em;
}

section {
    min-height: 95vh;
    margin-bottom: 3em;
}

/*  NAVIGATION MENU    */

nav {
    width: 100%;

    position: fixed;
    z-index: 1; 
    top: 0;
    right: 200%;
    overflow-x: hidden;

    background-color: #fff;

    transition: 0.2s; 

    ul {
        height: 4em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        margin-left: 2em;

        li {
            display: flex;
            flex: 1;
            list-style-type: none;

            a {
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                color: #000;
                text-decoration: none;
                font-size: 3.5vw;

                transition: 0.2s;
            }
        }
    }
}

.nav-show {
    transform: translateX(200%);
}

.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 3.9em;
    height: 5.5em;
    background-color: transparent;
    border: none;

    transform: scale(0.65);

    .bar {
        border-bottom: 5px solid;
        margin: 8px;
        color: $white;
        transition: all 0.2s;
    }
}


.hamburger:focus {
    transform: scale(0.9);
    outline: none;
}

.menu-is-active {
    .bar {
        color: #000;
        transform-origin: left;
        transition: transform 0.2s;
    }
    .top {
        transform: rotate(45deg);
    }
    .middle {
        opacity: 0;
    }
    .bottom {
        transform: rotate(-45deg);
    }
}

.menu-is-active:focus {
    transform: scale(0.65);
    outline: none;
}


/*  BUTTONS  */

.button {
    display: block;
    margin: 1em auto;
    font-family: Oswald;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-white {
    width: 9rem;
    height: auto;
    padding: 0.7em;
    font-size: 0.8em;
    background: $white;
    border: 1px solid $white;
    color: rgb(65, 65, 65);

    transition: box-shadow .5s, border .5s, color .5s, text-shadow .5s;

    &:hover,
    &:focus {
        color: $white;
        box-shadow: inset 0 0 0 3em #000;
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
}

.button-black {
    height: 40px;
    width: 150px;
    
    border: 1px solid $white;
    background: none;
    color: $white;
    
    transition: box-shadow .5s, border .5s, color .5s, text-shadow .5s;
    
    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 3em $white;
        border-color: $white;
        color: #000;
    }
}

.contact-button {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 3em;
    height: 3em;

    margin: 1.2em;

    border: none;
    border-radius: 15%;
    box-shadow: 0 2px 6px 0 rgba(211, 211, 211, 0.4);

    background-color: #fff;
}

/*  SECTION - HERO HEADER  */

.hero-header {
    height: 85vh;
}

/*  SECTION - ABOUT ME  */

#about-me {
    padding-top: 3em;

    h4 {
        font-family: Oswald;
        font-size: 2.2em;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        color: $white;
        margin: .5em .5em;
    }

    p {
        margin: 2.5em 1.5em;
    }
}

@media (min-width: 1000px) {
    #about-me {
        padding: 3em 11em;
        text-align: center;

        h4 {
            font-size: 3em;
        }
        p {
            font-size: 1.9em;
        }
        
    }
}

/*  SECTION - SKILLS  */

.skills-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.skill-wrap {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 0.3em;
}

@media (min-width: 900px) {
    .skills-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*  SECTION - PROJECTS  */

#projects {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2em;

    h3 {
        grid-column: 1 / -1;
        margin-bottom: 0.5em;
    }
}

@media (max-width: 900px) {
    #projects {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1620px) {
    #projects {
        grid-template-columns: 1fr 1fr;
    }
}

.project {
    .project-figure {
        position: relative;

        .project-image-wrapper {
            position: relative;
            height: 90vh;
            width: 100%;
            overflow: hidden;

            .project-link {
                position: absolute;
                bottom: 25%;

                width: 5.5rem;
                height: auto;
                padding: 0.7em;
                margin: 0;

                font-size: .9em;

                z-index: 1;
            }

            .link-live {
                left: 10%;
            }

            .link-code {
                right: 40%;
            }
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 1;
                filter: grayscale(100%) blur(3px) brightness(80%);
                transform: scale(1.1);
            }

            #hexbox-img {
                filter: grayscale(100%) blur(3px) brightness(40%);
            }
        }

        .project-figcaption {     
            position: absolute;
            top: 20%;
            left: 10%;

            display: block;
            height: 80%;
            width: auto;

            margin: .5em 1.6em 0 0;
            font-size: .9em;

            .project-name {
                font-family: Oswald;
                font-size: 3.3em;
                font-weight: 700;
                line-height: 1.2;
                text-transform: uppercase;
                color: $white;

                margin-bottom: .2em;
            }
    
            span {
                
                color: #c0c0c0;
                font-size: .9em;
            }
    
            ul {
                position: absolute;
                bottom: 5%;

                li {
                    display: inline;
    
                    list-style-type: none;
    
                    text-transform: uppercase;
                    font-size: .65em;
                    color: rgb(182, 182, 182);
                    
                    &:not(:last-child):after {
                        content: '/';
                        padding: 0 .1em 0 .5em;
                    }
                }
            }
        }
    }
}



/*  SECTION - CONTACT  */

#contact {

    fieldset {
        width: 85%;
        margin: 0 auto;
    }
    
    label, 
    input:nth-of-type(1),  /* email */
    textarea {
        display: block;
        margin: 0 auto;
        padding: 0.3em;
        width: 85%;
        font-size: 0.8em;
    }

    textarea {
        height: 25vh;
    }
}

/*  FOOTER  */

footer {
    padding-bottom: 2em;

    .social-icons {
        display: flex;
        justify-content: center;

        a {
            margin: 0.5em;
        }
    }

    p {
        margin: 0.7em;
        text-align: center;
        font-size: 0.7em;
    }
}




